@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
*{
margin: 0;
padding: 0;
}

.navbar{
display: flex;
align-items: center;
position: sticky;
top: 0px;
height: 70px;
}

.navbar::before{
content: "";
background-color: black;
position: absolute;
top:0px;
left:0px;
height: 100%;
width:100%;
z-index: -1;
opacity: 0.6;
}
.navbar ul {
display: flex;
list-style-type: none;
}
.navbar ul li a{
padding: 2px 25px;
color: white;
font-size: 20px;
}
.navbar ul li :hover{
background-color: rgb(107, 102, 102);
}
#logo{
margin: 2px 25px;
}
#logo img{
height: 50px;
}
#section1{
display: flex;
height: 740px;
flex-direction: column;
padding: 2px 80px;
text-align: center;
justify-content: center;

}
#section1 ::before{
content: "";
height: 790px;
position: absolute;
background: url("jay-wennington-N_Y88TWmGwA-unsplash.jpg") no-repeat center center/cover; 
background-attachment: fixed;
background-position: 50% 50%;
top: 0px;
left: 0px;
width: 100%;
opacity: 0.5;
z-index: -1;
}
#para{
    font-size: 38x;
}
h1{
font: 800;
font-size: 66px;
}
.maincont {
    display: flex;
   justify-content: center;
    flex-wrap: wrap;
}
.cont{
    flex-basis: 25%;
   min-width: 20%; 
   height: 880px;
    border: 1px solid black;
     box-shadow: 5px; 
     margin: 20px;
     box-shadow: 10px 10px 5px #aaaaaa;
}
.image{
height: 350px;
width: 100%;
padding: 0%;

}
.textbox{
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    text-decoration: black;
    align-items: center;
    font-size: 25px;
    justify-content: center;
    font-family: 'Rubik',  sans-serif;
    font-weight: 200;
}
.h1{
    text-decoration: none;
    font-size: 35px;
    font-family: 'Oswald', sans-serif;
    align-items: center;
    font-weight: 600;
    padding: 10px;
    text-align: center;
    justify-content: center;
}
.btn {
padding: 1px 40px;
border: 2px solid white;
background-color: rgb(15, 14, 14);
color: white;
margin: 5px;
font-size: 1.5rem;
border-radius: 10px;
cursor:pointer;
align-items: center;  
justify-content: center;   
}
#client-section{ 
position: relative;
}

#client-section::before{
content: "";
position: absolute;
background: url("FoodBackgroundNomeat.jpg");
background-attachment: fixed;
background-position: 50% 50%;
width: 100%;
height: 100%;
z-index: -1;
opacity: 0.3;
}

#clients{
display: flex;
justify-content: center;
align-items: center;
}

.client-item{
padding: 34px;
}

#clients img{
height: 170px;
}

footer{
height: 80px;
display: flex;
justify-content: center;
align-items: center;
padding: 10px 40px;
background: black;
color: white;
padding: 9px 20px;
bottom: 0%;
}
.h{
font-family: 'Bree Serif', serif;
font-size: 3.8rem;
padding: 12px;
text-align: center;
}
#javascriptfx{
display: flex;


}
#clockContainer{  
position: relative;
margin: 10vh 10vw;
height: 20vw;
width: 20vw; 
background: url(clock.png) no-repeat;
background-size: 100%;
z-index: -1;

}

#hour, #minute, #second{
position: absolute;
background: black;
border-radius: 10px; 
transform-origin: bottom;
}
#hour{
width: 1.8%;
height: 25%;
top: 25%;
left: 48.85%;
opacity: 0.8;  
}
#minute{
width: 1.6%;
height: 30%;
top: 19%;
left: 48.9%;
opacity: 0.8;  
}
#second{
width: 1%;
height: 40%;
top: 9%;
left: 49.25%;
opacity: 0.8; 

}
 .container{
    text-align: center;
    position: relative;
    margin: 10vh 10vw;
}

table{
    margin: auto;
} 

input{
    border-radius: 21px;
    border: 5px solid #244624;
    font-size:28px;
    height: 45px;
    width: 456px;
}

button{
    border-radius: 20px;
    font-size: 30px;
    background: #b8b6bb;
    width: 95px;
    height: 60px;
    margin: 4px;
}

.calculator{ 
    border: 4px solid #b9dfda;
    background-color: #1a1818;
    padding: 18px;
    border-radius: 42px;
    /* display: inline-block; */
    
}